---
layout: header_page
title : Lessons
tagline :
header : 
group: navigation
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}
{% include JB/posts_collate %}

<table>
  <tr>
    <td>Setup</td>
    <td><a href="http://spatialcarpentry.github.io/setup/">Lesson</a></td>
    <td></td>
  <tr>
    <td>Spatial Data Basics</td>
    <td><a href="http://spatialcarpentry.github.io/basics/">Lesson</a></td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/basics-pres/">Presentation</a></td>
  </tr>
  <tr>
    <td>Data Collection</td>
    <td><a href="http://spatialcarpentry.github.io/data-collection/">Lesson</a></td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/data-collection-pres/">Presentation</a></td>
  </tr>
  <tr>
    <td>Data Hygiene</td>
    <td><a href="http://spatialcarpentry.github.io/data-hygiene/">Lesson</a></td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/data-hygiene-pres/">Presentation</a></td>
  </tr>
  <tr>
    <td>Spatial Analysis</td>
    <td><a href="http://spatialcarpentry.github.io/spatial-analysis/">Lesson</a></td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/spatial-analysis-pres/">Presentation</a></td>
  </tr>
  <tr>
    <td>Cartography</a>
    <td><a href="http://spatialcarpentry.github.io/cartography/">Lesson</a></td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/cartography-pres/">Presentation</a></td>
  </tr>
  <tr>
    <td>Color Theory</td>
    <td>&nbsp;</td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/color-pres/">Presentation</a></td>
  </tr>
  <tr>
    <td>Data Sharing</td>
    <td>&nbsp;</td>
    <td><a target="_blank" href="http://spatialcarpentry.github.io/data-sharing-pres/">Presentation</a></td>
  </tr>

</table>

