<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>

<div class="row">
  <div class="span10">
    {{ content }}
  </div>
  <div class="span4">
        <ol class="lessons">
      <h4>Lessons</h4>
      <li><a href="http://spatialcarpentry.github.io/setup/">Setup</a></li>
      {% if site.repo_name == 'Setup' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
      <li><a href="http://spatialcarpentry.github.io/basics/">Basics</a></li>
      {% if site.repo_name == 'Basics' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
      <li><a href="http://spatialcarpentry.github.io/data-collection/">Data Collection</a></li>
      {% if site.repo_name == 'Data Collection' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
      <li><a href="http://spatialcarpentry.github.io/data-hygiene/">Data Hygiene</a></li>
      {% if site.repo_name == 'Data Hygiene' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
      <li><a href="http://spatialcarpentry.github.io/spatial-analysis/">Spatial Analysis</a></li>
      {% if site.repo_name == 'Spatial Analysis' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
      <li><a href="http://spatialcarpentry.github.io/cartography/">Cartography</a></li>
      {% if site.repo_name == 'Cartography' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}
     <!-- <li><a href="http://spatialcarpentry.github.io/data-sharing/">Data Sharing</a></li>
      {% if site.repo_name == 'Data Sharing' %}
        <ol>
          {% for post in site.posts %}
            <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ol>
      {% endif %}-->
    </ol>
    {% unless page.tags == empty %}
      <ul class="tag_box">
      <h4>Tags</h4>
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      </ul>
    {% endunless %}  
  </div>
</div>
